Repository railsstudent/ng-simple-cssgrid-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(deps): install cspell and commitlint
  .husky/commit-msg
  .lintstagedrc.json
  commitlint.config.js
  cspell.json
  package-lock.json
  package.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: test import
  .eslintrc.json
  cspell.json
  package-lock.json
  package.json
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: convert uppercase to uppercase
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
  src/app/types.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: naming convention
  .eslintrc.json
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(deps): install standard version
  .versionrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): npm vulnerabilities
  package-lock.json
Due: prettier --write

fix: github action workflow file
  .github/workflows/main.yml
Due: none

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.5a35cf8c143d2cea.js
  main.b22fe1565e4f96cf.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: use async pipe
  .eslintrc.json
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
  src/app/types.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: use async pipe
  cspell.json
  src/app/appgrid-form/appgrid-form.component.spec.ts
  src/app/appgrid-generator/appgrid-generator.module.ts
  src/app/appgrid-generator/constants.ts
  src/app/share.module.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: use async pipe
  e2e/.eslintrc.json
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  tsconfig.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: strict mode in tsconfig
  tsconfig.json
Due: prettier --write

fix: errors caused by enabling strict mode
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

fix: strict template errors
  src/app/appgrid-template-form/appgrid-template-form.component.html
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: use inline template
  src/app/app.component.html
  src/app/app.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: lint errors
  src/app/appgrid-form/appgrid-form.module.ts
  src/app/appgrid-template-form/appgrid-template-form.module.ts
  src/environments/environment.ts
  src/main.ts
Due: cspell ., eslint --fix --max-warnings 0

fix: lint errors
  src/environments/environment.prod.ts
  src/test.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.5a35cf8c143d2cea.js
  main.94a2f57a4fd15913.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: appGridValueField component
  .gitignore
  src/app/appgrid-template-form/appgrid-template-form.component.html
  src/app/appgrid-template-form/appgrid-template-form.module.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/index.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.8ee282733a89a94b.js
  main.94a2f57a4fd15913.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: delete empty scss file
  src/app/appgrid-form/appgrid-form.component.scss
  src/app/appgrid-form/appgrid-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.8ee282733a89a94b.js
  main.b62c8b3aef0a6175.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: css styling
  src/app/appgrid-form/appgrid-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: create AppGridValueFieldModule
  src/app/appgrid-template-form/appgrid-template-form.module.ts
  src/app/appgrid-value-field/appgrid-value-field.module.ts
  src/app/appgrid-value-field/index.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: create AppGridValueFieldModule
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: use AppGridValueField component for gap unit
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-form/appgrid-form.module.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/types.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: typed observable
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0

fix: add OnPush fix: add OnPush
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: rename file
  src/app/app.types.ts
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: add gap column length
  src/app/app.types.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: add numGapLengths and gapCol components
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: replace grid-gap to gap
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.scss
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.24e851e89afddbe3.js
  main.b62c8b3aef0a6175.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: move observables from ngOnInit to method
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-generator/appgrid-generator.interface.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.13589a169aeec56e.js
  main.24e851e89afddbe3.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: npm vulnerabilities
  package-lock.json
Due: prettier --write

chore(deps): upgrade to angular 13.3.2
  package-lock.json
  package.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.13589a169aeec56e.js
  main.9406be7490baa885.js
  styles.7d7fc54c7b83c5d2.css
  styles.b9f9468c10cba411.css
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Path conditions:
  cspell .: any of: *.{ts,js}
  eslint --fix --max-warnings 0: any of: *.{ts,js}
  prettier --write: any of: *.{md,json,html}
