Repository railsstudent/ng-simple-cssgrid-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell ., eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
    "*.{ts,js}": ["cspell .", "eslint --fix --max-warnings 0"],
    "*.{md,json,html}": "prettier --write"
}

chore: display refactor commit message in change log
  .versionrc.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.e6001d37ebb83bcb.js
  main.f52cf730b0b96ee5.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: clean up ControlErrorDirectve
  src/app/app-error/control-error.component.ts
  src/app/app-error/directives/control-errors.directive.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/appgrid-value-field.module.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  691.90047ed6df017251.js
  691.baa99c49fc43221f.js
  index.html
  main.56ba3f8d588673ca.js
  main.e6001d37ebb83bcb.js
  runtime.973de606c2659de1.js
  runtime.b001f109267880fe.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: pass validator and async validator to FormControl
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.56ba3f8d588673ca.js
  main.ce7d743d1afd5c9a.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: generate dynamic reactive form
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: remove export to make interface private
  src/app/app.types.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: rename FormGroup configuration
  src/app/app.types.ts
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.4100d34915c99464.js
  main.ce7d743d1afd5c9a.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: appGridValueField
  .eslintrc.json
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-template-form/appgrid-template-form.component.html
  src/app/appgrid-template-form/appgrid-template-form.component.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/appgrid-value-field.interface.ts
  src/app/appgrid-value-field/index.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: add display: none to hide error control
  src/app/app-error/control-error.component.ts
  src/app/appgrid-template-form/appgrid-template-form.component.html
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: delete uused member
  src/app/appgrid-template-form/appgrid-template-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  691.7d0f957ef6b768db.js
  691.baa99c49fc43221f.js
  index.html
  main.4100d34915c99464.js
  main.42302052d513188e.js
  runtime.3b7ad50fc344845e.js
  runtime.b001f109267880fe.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: show error messages
  src/app/app-grid-control.interface.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.module.ts
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-generator/index.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
  src/app/appgrid-template-form/appgrid-template-form.module.ts
  src/app/appgrid-value-field/appgrid-value-field.module.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.42302052d513188e.js
  main.c797e668cf44d9da.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.27f6242a3308ec5a.js
  main.c797e668cf44d9da.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: add max validation
  src/app/app-error/error-map.ts
  src/app/app-error/interfaces/error.interface.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/appgrid-value-field.interface.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: max validation in appGridFormComponent
  src/app/app-error/error-map.ts
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.27f6242a3308ec5a.js
  main.92a7a66d11da08d3.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: delete unused inputs
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: deleteu nused inputs
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: delete unused inputs
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: make formControl first
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: add required attribute
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-template-form/appgrid-template-form.component.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/appgrid-value-field.interface.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
