Repository railsstudent/ng-simple-cssgrid-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell ., eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
    "*.{ts,js}": ["cspell .", "eslint --fix --max-warnings 0"],
    "*.{md,json,html}": "prettier --write"
}

feat: appGridAutoRowsModule
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.scss
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.spec.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.module.ts
  src/app/appgrid-auto-rows/index.ts
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-form/appgrid-form.module.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: appGridAutoRows component
  src/app/app-grid-control.interface.ts
  src/app/app.types.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.module.ts
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: appGridAutoRows component
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: add input field
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.scss
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.module.ts
  src/app/appgrid-form/appgrid-form.component.html
  src/app/appgrid-form/appgrid-form.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: dynamically update css variable --grid-auto-rows
  src/app/app.types.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.scss
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
  src/app/appgrid-generator/appgrid-generator.interface.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: demonstrate grid auto row
  package-lock.json
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: css grid start with values
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: css of repeat and minmax
  src/app/appgrid-template-form/appgrid-template-form.component.html
  src/app/appgrid-template-form/appgrid-template-form.component.scss
Due: prettier --write

refactor: use hostbinding to update css variables
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.scss
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: render grid cell content
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.module.ts
  src/app/appgrid-generator/grid-cell-content.pipe.spec.ts
  src/app/appgrid-generator/grid-cell-content.pipe.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: update content
  src/app/appgrid-generator/grid-cell-content.pipe.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: appDisableControl directive
  src/app/appgrid-auto-rows/app-disable-control.directive.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.html
  src/app/appgrid-auto-rows/appgrid-auto-rows.component.ts
  src/app/appgrid-auto-rows/appgrid-auto-rows.module.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.29b08f6bc18c790b.js
  main.9406be7490baa885.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: update CSS variables by observable and layout
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.29b08f6bc18c790b.js
  main.f4a14d6cae4dd227.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: add form validators
  src/app/app.types.ts
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.constants.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: error control
  src/app/app-error/app-error.module.ts
  src/app/app-error/index.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: control error directive
  src/app/app-error/app-error.module.ts
  src/app/app-error/control-error.component.ts
  src/app/app-error/directives/control-errors.directive.ts
  src/app/app-error/directives/index.ts
  src/app/app-error/error-map.ts
  src/app/app-error/interfaces/error.interface.ts
  src/app/app-error/interfaces/index.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: apply error directive
  src/app/app-error/app-error.module.ts
  src/app/app-error/directives/control-error-container.directive.ts
  src/app/app-error/directives/control-errors.directive.ts
  src/app/app-error/directives/index.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: apply error directive
  src/app/app-error/directives/control-errors.directive.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: import appError module
  src/app/appgrid-value-field/appgrid-value-field.module.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: update directive prefix
  .eslintrc.json
Due: prettier --write

fix: do not update css when form is not valid
  src/app/appgrid-generator/appgrid-generator.component.ts
Due: cspell ., eslint --fix --max-warnings 0

feat: style error container to use mat-error
  .eslintrc.json
  src/app/app-error/app-error.module.ts
  src/app/app-error/control-error.component.ts
  src/app/app-error/directives/control-errors.directive.ts
  src/app/appgrid-value-field/appgrid-value-field.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: remove console.log
  src/app/appgrid-value-field/appgrid-value-field.component.ts
  src/app/appgrid-value-field/appgrid-value-field.module.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  691.204866c1d2b38b66.js
  index.html
  main.cd7d6d50073131be.js
  main.f4a14d6cae4dd227.js
  polyfills.12ea9f769707f64a.js
  polyfills.3438a02e915c106a.js
  runtime.155c3a02134d9b0f.js
  runtime.346254808294d60f.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: remove ShareModule from AppgridValueField module
  src/app/appgrid-value-field/appgrid-value-field.module.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: remove ShareModule from AppGridForm module
  src/app/appgrid-form/appgrid-form.module.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: remove ShareModule from AppGridTemplateForm module
  src/app/appgrid-template-form/appgrid-template-form.module.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: remove ShareModule from AppModule and AppGridGeneratorModule
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/appgrid-form/appgrid-form.component.spec.ts
  src/app/appgrid-generator/appgrid-generator.module.ts
Due: cspell ., eslint --fix --max-warnings 0

chore: delete ShareModule
  src/app/share.module.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  691.204866c1d2b38b66.js
  691.90047ed6df017251.js
  index.html
  main.9df06d215078018c.js
  main.cd7d6d50073131be.js
  runtime.346254808294d60f.js
  runtime.973de606c2659de1.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: display package version
  src/app/app.component.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tsconfig.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.9df06d215078018c.js
  main.e44503543945bcc0.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: delete debug pre element
  src/app/appgrid-generator/appgrid-generator.component.html
Due: prettier --write

feat: custom css pipe
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.component.ts
  src/app/appgrid-generator/appgrid-generator.module.ts
  src/app/appgrid-generator/pipes/app-grid-css.pipe.ts
  src/app/appgrid-generator/pipes/grid-cell-content.pipe.spec.ts
  src/app/appgrid-generator/pipes/grid-cell-content.pipe.ts
  src/app/appgrid-generator/pipes/index.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: rename gridCellContentPipe
  src/app/appgrid-generator/appgrid-generator.component.html
  src/app/appgrid-generator/appgrid-generator.module.ts
  src/app/appgrid-generator/pipes/app-grid-cell-content.pipe.spec.ts
  src/app/appgrid-generator/pipes/app-grid-cell-content.pipe.ts
  src/app/appgrid-generator/pipes/index.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.6744f3f2d333e93f.js
  main.e44503543945bcc0.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.6744f3f2d333e93f.js
  main.e6001d37ebb83bcb.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write
